{% if article %}
  <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
    {{ article.published_at | date: '%Y-%m-%d' }}
  </time>

  {% if article.image %}
    <img
      src="{{ article.image | image_url }}"
      alt="{{ article.image.alt | escape }}"
      width=""
      height=""
    >
    <img
      src="{{ article.image | image_url }}"
      alt="{{ article.image.alt | escape }}"
      width=""
      height=""
    >
  {% endif %}

  <div class="bg-red-500">
    {{ article.content }}
  </div>

{% else %}
  <p>No article found.</p>
{% endif %}



